.innovation-section {
    font-family: 'DM Sans', sans-serif;
    height: 355.92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    
  }
  
  .text-container {
    padding-right: 20px;
    width: 493.5px;
    height: 98px;
  }  
  .headline {
    gap: 7px;
    font-family: 'DM Sans', sans-serif;
    font-size: 43px;
    line-height: 49px;
    font-weight: bold;
    color: #1E3A8A; 
    margin-bottom: 20px;
   
  } 
  .description {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #1E3A8A; 
    line-height: 26px;
  }  
  .button-container {
    display: flex;
    gap: 15px;
  }  
  .talk-btn, .pricing-btn {
    font-family: 'DM Sans', sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: Hug (59.1px);
    width: 495px;
    gap: 10px;
  }  
  .talk-btn {
    font-family: 'DM Sans', sans-serif;
    background-color: #1E3A8A;
    color: white;
    width: 187px;
    height: 59px;
  }  
  .pricing-btn {
    font-family: 'DM Sans', sans-serif;
    color: #1E3A8A;
    background-color: white;
    width: 200px;
    border: 1px solid;
    border-color: #1E3A8A;
  }
  
  .image-container {
    height: 300.92px;      
  }  
  .section-image {   
    z-index: 2;  
  }
  .section-image:hover {
    transform: scale(1.01);
    transition: transform 0.3s, background-color 0.3s;
  }
  
@media (max-width: 480px) {
}

  @media (max-width: 1200px) {
    .innovation-section {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .headline {
      font-size: 36px;
    }
  
    .description {
      font-size: 18px;
    }
  
    .button-container {
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .innovation-section {
      flex-direction: column;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .text-container {
      width: 100%;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
  
    .headline {
      font-size: 28px;
      text-align: center;
    }
  
    .description {
      font-size: 16px;
      text-align: center;
    }
  
    .talk-btn, .pricing-btn {
      width: 100%;
      font-size: 14px;
      padding: 10px 20px;
    }
  
    /* .image-container {
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
    } */
  
    .section-image {
      max-width: 421px;
        height: 400px;
        margin-top: 160px;
      /* display: none; */
    }
    
  }
  
  @media (max-width: 480px) {
    .headline {
      font-size: 24px;
    }
  
    .description {
      font-size: 14px;
    }
  
    .talk-btn, .pricing-btn {
      font-size: 12px;
      padding: 8px 16px;
      width: 100%;
    }
  
    .section-image {
      max-width: 440px;
      height: 418px;
    } 
    
  } 